:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #1C1C1C;
  opacity: 0.9;
  background: linear-gradient(135deg, #30303055 25%, transparent 25%) -10px 0/ 20px 20px, linear-gradient(225deg, #303030 25%, transparent 25%) -10px 0/ 20px 20px, linear-gradient(315deg, #30303055 25%, transparent 25%) 0px 0/ 20px 20px, linear-gradient(45deg, #303030 25%, #1C1C1C 25%) 0px 0/ 20px 20px;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}